 * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }

 ::-webkit-scrollbar {
   display: none;
 }

 html {
   scroll-behavior: smooth;
 }

 .container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   width: 85%;
 }

 @media screen and (max-width:1024px) {
   .container {
     width: 90%;
   }

 }

 @media screen and (max-width:600px) {
   .container {
     width: 95%;
   }
 }

 .nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
 }

 @media screen and (max-width:600px) {
   .nav>h3 {
     font-size: 14px;
   }
 }

 /* products component */
 .items {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 40px;
 }

 .item {
   background-color: white;
   box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
   border-radius: 6px;
   overflow: hidden;
   transition: box-shadow 0.3s, transform 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .item:hover {
   box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
   transform: translateY(-10px);
 }

 .image img {
   width: 100%;
 }

 .image {
   width: 100%;
   height: 50%;
   overflow: hidden;
 }

 .item .content {
   padding: 20px 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   text-align: center;
 }

 .item p {
   font-size: 14px;
   line-height: 1.6;
 }

 .item h3 {
   font-size: 20px;
   line-height: 1.7;
 }

 .btn {
   padding: 10px;
   border-radius: 10px;
   border: 1px solid black;
   color: black;
   cursor: pointer;
   font-size: 16px;
   width: 150px;
   background-color: transparent;
 }

 .show-btn {
   margin: 1rem auto;
   display: flex;
   justify-content: center;
 }

 /* end products component */


 /* cart component */
 .cart-empty {
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }

 .cart {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   padding-top: 2rem;
 }

 .cart-item {
   display: grid;
   grid-template-columns: repeat(4, minmax(100px, 1fr));
   gap: 2rem;
   text-align: center;
 }

 @media screen and (max-width:600px) {
   .cart-item {
     gap: 0;
   }
 }


 .cart .cart-item .img {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .img>img {
   width: 75px;
   height: 75px;
 }

 .foot {
   background-color: gray;
   padding: 10px;
 }

 .quantity {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .quantity>button {
   background-color: transparent;
   font-size: 14px;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   border: 1px solid black;

 }

 .cart-item .cont {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .checkout {
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }

 .cart-btn {
   margin-bottom: 1rem;
 }

 /* end cart component */